body {
  counter-reset: section 1 subsection-counter doc-counter doc-assignment-counter assignment-counter;
}

p {
  text-align: justify;
}

h1 {
  font-variant: small-caps;
  font-weight: bolder;
}

h1::before {
  content: counter(section) " ";
  color: #ffc107;
  font-size: 2em;
  vertical-align: middle;
}

/*DICCIONARIO*/

dl {
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0
}

dt {
  float: left;
  width: 10%;
  /* adjust the width; make sure the total of both is 100% */
  padding: 0;
  margin: 0;
  font-weight: bold;
}

dd {
  float: right;
  width: 90%;
  /* adjust the width; make sure the total of both is 100% */
  background: #dd0 padding: 0;
  margin: 0;
}

/*ASIDE DOC-BLUE*/

aside div dt:before {
  content: '\23F5';
  font-size: 1.2em;
  color:#009688;

}

/* SECTIONS */

section {
  padding: 0.01em 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}

section>p {
  text-indent: 10px;
}

section>header>h2 {
  counter-increment: subsection-counter;
  color: goldenrod;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 1.5em;
}

section>header>h2::before {
  content: counter(section) "." counter(subsection-counter) ". "
}

section ul {
  list-style-type: square;
}

/* ASIDES DOC */

aside {
  padding: 0.01em 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}

aside.doc>div {
  border-left: 2px solid orange;
  padding: 0px;
  padding-left: 20px;
}

aside.doc>header>p {
  border-bottom: 3px solid yellow;
  font-variant: small-caps;
  font-size: 1.5em;
  font-weight: bold;
}

aside.doc>header>p:before {
  counter-increment: doc-counter;
  content: "DOC." counter(doc-counter);
  font-size: 0.5em;
  background-color: orange;
  padding: 2px;
  margin-right: 3px;
  vertical-align: 25%;
}

aside.doc hr {
  border-color: red;
  width: 30%;
  text-align: left;
  margin-left: 0;
}

aside.doc div ol li {
  counter-increment: doc-assignment-counter;
  list-style-type: none;
}

aside.doc div ol li:before {
  content: counter(doc-assignment-counter) ". ";
  font-weight: bold;
}

/*ASIDE DOC-PURPLE*/

aside.doc-purple div{
  border-left-color: purple
}
aside.doc-purple div ul{
  list-style: none;
}

aside.doc-purple div ul li:before {
  content: '\23F5';
  font-size: 1.2em;
  color:purple;
}


/*ASIDE ASSIGNMENT*/

aside.assignment header>p {
  background-color: rgb(11, 126, 95);
  color: white;
  font-size: 1.2em;
  width: 60%;
  box-shadow: 4px 4px 10px #888888
}

aside.assignment ol li {
  counter-increment: assignment-counter;
  list-style-type: none;
  text-align: justify;
  margin: 30px 0;
}

aside.assignment ol li:before {
  content: counter(assignment-counter) ". ";
  font-weight: bold;
}

aside.assignment {
  border: 2px green solid;
  width:100%;
  background-color:white;
}

/* TABLES */

table {
  border: 1px solid green;
  border-collapse: collapse;
  text-align: center;
  box-shadow: 4px 4px 3px #888888;
}

table caption {
  font-size: 0.8em;
  caption-side: bottom;
  font-style: italic;
}

table th, td {
  padding: 10px;
  border: 1px solid green;
}

table th {
  font-weight: bold;
  text-align: center;
  background-color: lightgreen;
}

/* TABLES.ORANGE */

table.orange {
  border: 1px solid orange;
}

table.orange tr:nth-child(odd) {
  background-color: bisque;
}

table.orange th, td {
  border: 1px solid orange;
}

table.orange th {
  background-color: darkorange;
}


/* FIGURE */

figure>figcaption::before {
  content: '\23F5';
  font-size: 1.2em
}

figure>figcaption {
  font-size: 0.8em;
  text-align: justify;
  font-family: monospace;
}

/* MISC */

.epigrafe {
  text-align: right;
  font-size: 0.8;
  font-style: italic;
}

div.goal-box p:first-of-type {
  background-color:rgba(41, 162, 137, 0.92) ;
  box-shadow: 4px 4px 3px #888888;
  padding:10px 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  font-style: italic;

}

div.goal-box p:first-of-type::before {
  content: "objetivo";
  font-variant: small-caps;
  padding: 20px;
  /*margin-left: -100px;*/
  background-color: lightblue;
}

.synthesis-box {
  border: 1px solid green;
}

/*ANALISIS-BOX*/

.analisis-box {
  background-color:lightgreen;
  padding:20px;
}
