body {
  counter-reset: section 1 subsection-counter doc-counter doc-assignment-counter assignment-counter;
}

p {
  text-align: justify;
}

h1 {
  font-variant: small-caps;
  font-weight: bolder;
}

h1::before {
  content: counter(section) " ";
  color: #ffc107;
  font-size: 2em;
  vertical-align: middle;
}

/* SECTIONS */

section {
  padding: 0.01em 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}

section>p {
  text-indent: 10px;
}

section>header>h2 {
  counter-increment: subsection-counter;
  color: goldenrod;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 1.5em;
}

section>header>h2::before {
  content: counter(section) "." counter(subsection-counter) ". "
}

section ul {
  list-style-type:square;
}

/* ASIDES DOC */

aside {
  padding: 0.01em 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}

aside.doc>div {
  border-left: 2px solid orange;
  padding: 0px;
  padding-left: 20px;
}

aside.doc>header>p {
  border-bottom: 3px solid yellow;
  font-variant: small-caps;
  font-size: 1.5em;
  font-weight: bold;
}

aside.doc>header>p:before {
  counter-increment: doc-counter;
  content: "DOC." counter(doc-counter);
  font-size: 0.5em;
  background-color: orange;
  padding: 2px;
  margin-right: 3px;
  vertical-align: 25%;
}

aside.doc hr {
  border-color: red;
  width: 30%;
  text-align: left;
  margin-left: 0;
}

aside.doc div ol li {
  counter-increment: doc-assignment-counter;
  list-style-type: none;
}

aside.doc div ol li:before {
  content: counter(doc-assignment-counter) ". ";
  font-weight: bold;
}

/*ASIDE DOC-PURPLE*/

aside.doc-purple div{
  border-left-color: purple
}
aside.doc-purple div ul{
  list-style: none;
}

aside.doc-purple div ul li:before {
  content: '\23F5';
  font-size: 1.2em;
  color:purple;

}

/*ASIDE ASSIGNMENT*/

aside.assignment>header {
  background-color: green;
  color: white;
  font-size: 1.2em;
  width: 30%;
  box-shadow: 10px 10px 30px #888888
}

aside.assignment ol li {
  counter-increment: assignment-counter;
  list-style-type: none;
}

aside.assignment ol li:before {
  content: counter(assignment-counter) ". ";
  font-weight: bold;
}

aside.assignment {
  border: 2px green solid;
  width:100%;
  background-color:white;
}

/* TABLES */

table {
  border: 1px solid green;
  border-collapse: collapse;
  text-align: center;
}

table caption {
  font-size: 0.8em;
  caption-side: bottom;
  font-style: italic;
}

table th, td {
  padding: 10px;
  border: 1px solid green;
}

table th {
  font-weight: bold;
  text-align: center;
  background-color: lightgreen;
}

table td {}

/* FIGURE */

figure>figcaption::before {
  content: '\23F5';
  font-size: 1.2em
}

figure>figcaption {
  font-size: 0.8em;
  text-align: justify;
  font-family: monospace;
}

/* MISC */

.epigrafe {
  text-align: right;
  font-size: 0.8;
  font-style: italic;
}

.goal-box {
  background-color: yellow;
}

.synthesis-box {
  border: 1px solid green;
}

/*DIV ASIDE*/

div.aside {
  background-color:lightgreen;
  padding:20px;
}
